{% extends 'base.html' %}

{% load static %}

{% block title %} About Us {% endblock %}   
{% block link %}
    <link rel="stylesheet" href="{% static 'css/Whomepage.css' %}">
{% endblock %}

{% block content %} 
<!-------------------------------->
    <div class="course-service">
        <center><h1 style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">Courses/ Services</h1></center>
        <div id="service" style="padding: 1%;" >
            <b><span>Wisdom’s NEET Crash Course :</span></b>
            <ul style="list-style-type: none;">
                <li>
                    <p>Welcome to Wisdom’s NEET Crash. By selecting our centre, you have made the right choice for meeting your career aspirations. For
                        NEET 2021, Wisdom Coaching Centre, has launched a 40 days crash course. In this course, intensive training in all the four subjects for NEET
                        (Botany, Chemistry, Physics and Zoology) has been planned. Each day coaching in all the four subjects will be carried out followed by a
                        NEET pattern test. Once in a week a Mock Test in NEET pattern will be organized. At the end of the course, FIVE (5) mock tests have been
                        planned. In total, 10 mock tests are organized within 40 days.<br>
                        Mock tests help the students to manage the necessary skills required for qualifying NEET. The special features for our training is
                        short cut, key points, time management techniques are regularly cultivated. Our congenial learning space provides uncompromised
                        learning ambience. Focussed training with skill-based approach helps the students for stable performance. Current and updated teaching
                        methodology helps the students to score high.<br>
                        Round the clock doubt clearing and interactive sessions rapids the learning process. Best monitoring of attendance, transparent
                        actual course progress tracking system updates the students’ progress in time, on time and every time to parents and other stakeholders.<br>
                        
                        What else, Come ON! Let’s MEET NEET with confidence</p>
                </li>
            </ul>

            <b><span>Wisdom’s NEET Course for Diehard Achievers :</span></b>
            <ul style="list-style-type: none;">
                <li>
                    <p>Number of appearance in NEET doesn’t matters, as long as one is determined to achieve, 64 years Odisha man, Kishore Pradhan
                        (Born: 1956, a retired banker) has cleared NEET 2019, more details could be read from here. Now, it is your choice to work for your dream.
                        Also, excellent institutions in Philippines, Russia, Uzbekistan, Caribbean Islands, Africa, South America have opened their doors for
                        Indian students with NEET score. Sometimes, scholarships are offered too! Come let’s rewrite your NEET efforts as excellently qualified.
                        Our repeaters programme starts with the complete revision of Class 11 &amp; 12 syllabus, to identify the backlog in understanding and
                        rectifying it. As we are covering unit wise pattern, unit wise NEET pattern tests will be organized apart from the regular NEET patter test.
                        Depending on the weightage, a greater number of NEET pattern tests will be organized on those particular topics. Apart from this,
                        periodical mock test will be there.<br>
                        This hassle free (as the candidate doesn’t have to go to school, but concentrating on NEET alone), dedicated learning in a vibrant
                        academic ambience eases the exhaustive and intensive preparations to crack NEET examination. The 24 x 7 learning assistance in the form
                        of flexible doubt clearing session and group discussion programme level the student personality and competitive ability.<br>
                        We invite you to experience this eternal educational upliftment!!!</p>
                </li>
            </ul>

            <b><span>Wisdom’s Value-Added Courses (VAC) :</span></b>
            <ul style="list-style-type: none;">
                <li>
                    <p>Wisdom Coaching Centre’s role doesn’t end with this. As the competitive world demands multi-faceted approach, we have
                        extended our coaching in English communication, Hindi courses of Dakshin Bharat Hindi Prachar Sabha. For enhancing the arithmetic
                        ability ABACUS training is provided.<br>
                        With advanced audio-visual and ICT based hybrid teaching methodologies, we ease the language learning, train efficiently in
                        corporate and business communication. Our faculties undertake special courses for preparing IELTS &amp; other English language examinations.<br>
                        <b>HINDI</b><br>
                        Learning a language will not push to down level, but open up mind and soul to interact with another set of humans. As these higher
                        order thoughts are accepted widely, we cater HINDI learning through the structured courses of Dakshin Bharata Hindi Prachar Sabha.<br>
                        <b>ABACUS </b><br>
                        As multi-tasking skills become mandatory, irrespective of arts / science / engineering or life sciences, a strong fundamental in
                        mathematics has become one of the skill set. Instead of running behind for developing mathematical skills during the job searching period,
                        we provide ABACUS training at a tender age, there by the students are equipped to meet the forthcoming demands and challenges.</p>
                </li>
            </ul>

            <b><span>Wisdom’s Regular Courses :</span></b>
            <ul style="list-style-type: none;">
                <li>
                    <p>Wisdom Coaching Centre’s coaching for regular courses starts from Class 8 to Class 12. As our centre is capped with faculties of
                        diversified academic experience and subject expertise, we provide coaching to: Tamilnadu State Board, Pondicherry State Board, CBSE,
                        ICSE, IGCSE, Other State Board etc., Our experienced faculties deliver the study materials in a lucid fashion which help the students to like
                        the subjects, irrespective of difficulties. This cared-academic coaching lays the groundwork for competitive examinations which the student
                        supposed to appear. When complete foundation is laid strongly in lower classes, it eventually transforms the student for a better
                        performance in their higher classes. Strong fundamental in the subjects, improves the confidence of facing different types of competitive
                        examination to fulfil their career aspirations.</p>
                </li>
            </ul>
        </div>
    </div>
<!-------------- Admission Form ---------------->
    <div class="container-fluid">
        <div class="row">
            <div class="col" id="admission" style="padding: 3%;">
                <h1 style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;"> ADMISSION </h1>
                <form action="{% url 'course' %}#admission" enctype="multipart/form-data" method="POST" class="admissionform">
                    {% csrf_token %}
                    
                    <div
                    {% if result == '1' %} 
                        style="color: red;display: block;"
                    {% else %}
                        style="color: red;display: none;"
                    {% endif %}
                    >
                        <b><i><h5> Data Submitted successfully for selected location </h5>
                        <p style="color: rgb(0, 15, 61);">{{ data }}</p>
                        </i></b>
                    </div>
                    
                    <div class="form-group">
                        <label for="Sname">Name: </label>
                        <input type="input" name="Sname" class="form-control" id="Sname" placeholder="Student Name" required>
                    </div>
                    <div class="form-group">
                        <label for="school">School: </label>
                        <input type="input" name="school" class="form-control" id="school" placeholder="School Name" required>
                    </div>
                    <div class="form-group">
                        <label for="contact">Number: </label>
                        <input type="tel" name="contact" class="form-control" id="contact" placeholder="Contact Number" pattern="[0-9]{10}" required>
                    </div>
                    <label>Choose admission location:</label>
                    <div class="form-group" style="margin-left: 5%;" >
                        <input class="form-check-input" type="radio" name="location" id="Reddils" value="redhills" required >
                        <label class="form-check-label" for="attendance">Wisdom @ Redhills</label><br>
                        <input class="form-check-input" type="radio" name="location" id="Kanathur" value="kanathur" >
                        <label class="form-check-label" for="attendance">Wisdom @ Kanathur</label>
                    </div>
                    <div class="form-group">
                        <label for="Sclass">Class: </label>
                        <select id="Sclass" name="Sclass" class="form-control">
                            <option selected>Choose</option>
                            <option>KG</option>
                            <option>I</option>
                            <option>II</option>
                            <option>III</option>
                            <option>IV</option>
                            <option>V</option>
                            <option>VI</option>
                            <option>VII</option>
                            <option>VIII</option>
                            <option>IX</option>
                            <option>X</option>
                            <option>XI</option>
                            <option>XII</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="admit-mail">Email address</label>
                        <input type="email" name="admit-mail" class="form-control" id="admit-mail" aria-describedby="emailHelp" placeholder="Enter email">
                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                    </div>
                    <center><button type="submit" class="btn btn-primary">Submit</button></center>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block aditionaljs %}
    <script>
        function validate_contact(param1){
            alert(document.getElementById(param1).value);
        }
    </script>
{% endblock %}