{% extends 'base.html' %}

{% load static %}

{% block title %} Wisdom photo-gallery {% endblock %}
{% block link %} 
	<link rel="stylesheet" href="{% static '/css/WGallery.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/css/lightbox.min.css">
{% endblock %}

{% block content %} 

  <div class="photo-gallery p-3"></div>
  <div class="page">
      <div class="container">
          <div class="intro" id="expo2021">
              <h2 class="text-center">Wisdom Expo' 2021</h2>
              <p class="text-center">Wisdom Expo conducted in Wisdom Coaching Centre, Many students participated and took part with joy winning rewards.</p>
          </div>
          <div class="row photos">

              <table class="table table-warning">
                  <tbody>
                    <tr>
                      <td class="h-25" scope="col"><div class="item"><a href="{% static 'img/Wisdom_Expo_2021/w1.jpg' %}" data-lightbox="photos"><img class="img-fluid mx-auto d-block" src="{% static 'img/Wisdom_Expo_2021/w1.jpg' %}"></a></div></td>
                      <td class="h-25" scope="col"><div class="item"><a href="{% static 'img/Wisdom_Expo_2021/w2.jpg' %}" data-lightbox="photos"><img class="img-fluid mx-auto d-block" src="{% static 'img/Wisdom_Expo_2021/w2.jpg' %}"></a></div></td>
                      <td class="h-25" scope="col"><div class="item"><a href="{% static 'img/Wisdom_Expo_2021/w3.jpg' %}" data-lightbox="photos"><img class="img-fluid mx-auto d-block" src="{% static 'img/Wisdom_Expo_2021/w3.jpg' %}"></a></div></td>
                      <td class="h-25" scope="col"><div class="item"><a href="{% static 'img/Wisdom_Expo_2021/w4.jpg' %}" data-lightbox="photos"><img class="img-fluid mx-auto d-block" src="{% static 'img/Wisdom_Expo_2021/w4.jpg' %}"></a></div></td>
                    </tr>        
                    <tr>
                      <td class="h-25" scope="row"><div class="item"><a href="{% static 'img/Wisdom_Expo_2021/w5.jpg' %}" data-lightbox="photos"><img class="img-fluid mx-auto d-block" src="{% static 'img/Wisdom_Expo_2021/w5.jpg' %}"></a></div></td>
                      <td class="h-25"><div class="item"><div class="item"><a href="{% static 'img/Wisdom_Expo_2021/w6.jpg' %}" data-lightbox="photos"><img class="img-fluid mx-auto d-block" src="{% static 'img/Wisdom_Expo_2021/w6.jpg' %}"></a></div></td>
                      <td class="h-25"><div class="item"><a href="{% static 'img/Wisdom_Expo_2021/w10.jpg' %}" data-lightbox="photos"><img class="img-fluid mx-auto d-block" src="{% static 'img/Wisdom_Expo_2021/w10.jpg' %}"></a></div></td>
                      <td class="h-25"><div class="item"><a href="{% static 'img/Wisdom_Expo_2021/w9.jpg' %}" data-lightbox="photos"><img class="img-fluid mx-auto d-block" src="{% static 'img/Wisdom_Expo_2021/w9.jpg' %}"></a></div></td>
                    </tr>
                    <tr>
                      <td class="h-25" scope="row"><div class="item"><a href="{% static 'img/Wisdom_Expo_2021/w7.jpg' %}" data-lightbox="photos"><img class="img-fluid mx-auto d-block" src="{% static 'img/Wisdom_Expo_2021/w7.jpg' %}"></a></div></td>
                      <td class="h-25"><div class="item"><a href="{% static 'img/Wisdom_Expo_2021/w8.jpg' %}" data-lightbox="photos"><img class="img-fluid mx-auto d-block" src="{% static 'img/Wisdom_Expo_2021/w8.jpg' %}"></a></div></td>
                      <td class="h-25"></td>
                      <td class="h-25"></td>
                    </tr>
                  </tbody>
                </table>  
          </div>
      </div>
  </div>
  </div>
  <div class="photo-gallery p-3" ></div>
  
      <div class="container ">
          <div class="intro" id="expo2019">
              <h2 class="text-center">Science Expo' 2019</h2>
              <p class="text-center">Science Expo conducted in Wisdom Coaching Centre, Many students participated and took part with joy winning rewards.</p>
          </div>
          <div class="page"></div>
          <div class="row photos" >
              <table class="table table-warning">
                  <tbody>
                      <tr>
                          <td class="h-25" scope="col"><div class="item"><a href="{% static 'img/Science_Expo_2019/w1.jpg' %}" data-lightbox="photos"><img class="img-fluid mx-auto d-block" src="{% static 'img/Science_Expo_2019/w1.jpg' %}"></a></div></td>
                          <td class="h-25" scope="col"><div class="item"><a href="{% static 'img/Science_Expo_2019/w2.jpg' %}" data-lightbox="photos"><img class="img-fluid mx-auto d-block" src="{% static 'img/Science_Expo_2019/w2.jpg' %}"></a></div></td>
                          <td class="h-25" scope="col"><div class="item"><a href="{% static 'img/Science_Expo_2019/w3.jpg' %}" data-lightbox="photos"><img class="img-fluid mx-auto d-block" src="{% static 'img/Science_Expo_2019/w3.jpg' %}"></a></div></td>
                          <td class="h-25" scope="col"><div class="item"><a href="{% static 'img/Science_Expo_2019/w4.jpg' %}" data-lightbox="photos"><img class="img-fluid mx-auto d-block" src="{% static 'img/Science_Expo_2019/w4.jpg' %}"></a></div></td>
                        </tr>        
                        <tr>
                          <td class="h-25" scope="row"><div class="item"><a href="{% static 'img/Science_Expo_2019/w5.jpg' %}" data-lightbox="photos"><img class="img-fluid mx-auto d-block" src="{% static 'img/Science_Expo_2019/w5.jpg' %}"></a></div></td>
                          <td class="h-25"><div class="item"><a href="{% static 'img/Science_Expo_2019/w6.jpg' %}" data-lightbox="photos"><img class="img-fluid mx-auto d-block" src="{% static 'img/Science_Expo_2019/w6.jpg' %}"></a></div></td>
                          <td class="h-25"><div class="item"><a href="{% static 'img/Science_Expo_2019/w7.jpg' %}" data-lightbox="photos"><img class="img-fluid mx-auto d-block" src="{% static 'img/Science_Expo_2019/w7.jpg' %}"></a></div></td>
                          <td class="h-25"><div class="item"><a href="{% static 'img/Science_Expo_2019/w8.jpg' %}" data-lightbox="photos"><img class="img-fluid mx-auto d-block" src="{% static 'img/Science_Expo_2019/w8.jpg' %}"></a></div></td>
                        </tr>
                        <tr>
                          <td class="h-25" scope="row"><div class="item"><a href="{% static 'img/Science_Expo_2019/w9.jpg' %}" data-lightbox="photos"><img class="img-fluid mx-auto d-block" src="{% static 'img/Science_Expo_2019/w9.jpg' %}"></a></div></td>
                          <td class="h-25"><div class="item"><a href="{% static 'img/Science_Expo_2019/w10.jpg' %}" data-lightbox="photos"><img class="img-fluid mx-auto d-block" src="{% static 'img/Science_Expo_2019/w10.jpg' %}"></a></div></td>
                          <td class="h-25"><div class="item"><a href="{% static 'img/Science_Expo_2019/w11.jpg' %}" data-lightbox="photos"><img class="img-fluid mx-auto d-block" src="{% static 'img/Science_Expo_2019/w11.jpg' %}"></a></div></td>
                          <td class="h-25"><div class="item"><a href="{% static 'img/Science_Expo_2019/w12.jpg' %}" data-lightbox="photos"><img class="img-fluid mx-auto d-block" src="{% static 'img/Science_Expo_2019/w12.jpg' %}"></a></div></td>
                        </tr>
                        <tr>
                          <td class="h-25" scope="row"><div class="item"><a href="{% static 'img/Science_Expo_2019/w13.jpg' %}" data-lightbox="photos"><img class="img-fluid mx-auto d-block" src="{% static 'img/Science_Expo_2019/w13.jpg' %}"></a></div></td>
                          <td class="h-25"><div class="item"><a href="{% static 'img/Science_Expo_2019/w14.jpg' %}" data-lightbox="photos"><img class="img-fluid mx-auto d-block" src="{% static 'img/Science_Expo_2019/w14.jpg' %}"></a></div></td>
                          <td class="h-25"><div class="item"><a href="{% static 'img/Science_Expo_2019/w15.jpg' %}" data-lightbox="photos"><img class="img-fluid mx-auto d-block" src="{% static 'img/Science_Expo_2019/w15.jpg' %}"></a></div></td>
                          <td class="h-25"></td>                            
                      </tr>
                  </tbody>
              </table>   
          </div>
          </div>
      </div>
  </div>
  <div class="photo-gallery p-3" ></div>
  
      <div class="container ">
          <div class="intro" id="daycare">
              <h2 class="text-center">Day Care</h2>
              <p class="text-center">“If you want your children to be intelligent, read them fairy tales. If you want them to be more intelligent, read them more fairy tales.”
                  — Albert Einstein.</p>
          </div>
          <div class="page"></div>
          <div class="row photos" >
              <table class="table table-warning">
                  <tbody>
                    <tr>
                      <td class="h-25" scope="col"><div class="item"><a href="{% static 'img/Day_Care/w1.jpg' %}" data-lightbox="photos"><img class="img-fluid mx-auto d-block" src="{% static 'img/Day_Care/w1.jpg' %}"></a></div></td>
                      <td class="h-25" scope="col"><div class="item"><a href="{% static 'img/Day_Care/w2.jpg' %}" data-lightbox="photos"><img class="img-fluid mx-auto d-block" src="{% static 'img/Day_Care/w2.jpg' %}"></a></div></td>
                      <td class="h-25" scope="col"><div class="item"><a href="{% static 'img/Day_Care/w3.jpg' %}" data-lightbox="photos"><img class="img-fluid mx-auto d-block" src="{% static 'img/Day_Care/w3.jpg' %}"></a></div></td>
                      <td class="h-25" scope="col"><div class="item"><a href="{% static 'img/Day_Care/w4.jpg' %}" data-lightbox="photos"><img class="img-fluid mx-auto d-block" src="{% static 'img/Day_Care/w4.jpg' %}"></a></div></td>
                    </tr>        
                    <tr>
                      <td class="h-25" scope="row"><div class="item"><a href="{% static 'img/Day_Care/w5.jpg' %}" data-lightbox="photos"><img class="img-fluid mx-auto d-block" src="{% static 'img/Day_Care/w5.jpg' %}"></a></div></td>
                      <td class="h-25"><div class="item"><a href="{% static 'img/Day_Care/w6.jpg' %}" data-lightbox="photos"><img class="img-fluid mx-auto d-block" src="{% static 'img/Day_Care/w6.jpg' %}"></a></div></td>
                      <td class="h-25"><div class="item"><a href="{% static 'img/Day_Care/w7.jpg' %}" data-lightbox="photos"><img class="img-fluid mx-auto d-block" src="{% static 'img/Day_Care/w7.jpg' %}"></a></div></td>
                      <td class="h-25"><div class="item"><a href="{% static 'img/Day_Care/w8.jpg' %}" data-lightbox="photos"><img class="img-fluid mx-auto d-block" src="{% static 'img/Day_Care/w8.jpg' %}"></a></div></td>
                    </tr>
                    <tr>
                      <td class="h-25" scope="row"><div class="item"><a href="{% static 'img/Day_Care/w9.jpg' %}" data-lightbox="photos"><img class="img-fluid mx-auto d-block" src="{% static 'img/Day_Care/w9.jpg' %}"></a></div></td>
                      <td class="h-25"><div class="item"><a href="{% static 'img/Day_Care/w10.jpg' %}" data-lightbox="photos"><img class="img-fluid mx-auto d-block" src="{% static 'img/Day_Care/w10.jpg' %}"></a></div></td>
                      <td class="h-25"><div class="item"><a href="{% static 'img/Day_Care/w11.jpg' %}" data-lightbox="photos"><img class="img-fluid mx-auto d-block" src="{% static 'img/Day_Care/w11.jpg' %}"></a></div></td>
                      <td class="h-25"><div class="item"><a href="{% static 'img/Day_Care/w12.jpg' %}" data-lightbox="photos"><img class="img-fluid mx-auto d-block" src="{% static 'img/Day_Care/w12.jpg' %}"></a></div></td>
                    </tr>
                    <tr>
                      <td class="h-25" scope="row"><div class="item"><a href="{% static 'img/Day_Care/w13.jpg' %}" data-lightbox="photos"><img class="img-fluid mx-auto d-block" src="{% static 'img/Day_Care/w13.jpg' %}"></a></div></td>
                      <td class="h-25"><div class="item"><a href="{% static 'img/Day_Care/w14.jpg' %}" data-lightbox="photos"><img class="img-fluid mx-auto d-block" src="{% static 'img/Day_Care/w14.jpg' %}"></a></div></td>
                      <td class="h-25"><div class="item"><a href="{% static 'img/Day_Care/w15.jpg' %}" data-lightbox="photos"><img class="img-fluid mx-auto d-block" src="{% static 'img/Day_Care/w15.jpg' %}"></a></div></td>
                      <td class="h-25"><div class="item"><a href="{% static 'img/Day_Care/w16.jpg' %}" data-lightbox="photos"><img class="img-fluid mx-auto d-block" src="{% static 'img/Day_Care/w16.jpg' %}"></a></div></td>                        
                    </tr>
                  </tbody>
              </table>   
          </div>
          </div>
      </div>
  </div>
{% endblock %}

{% block aditionaljs %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/js/lightbox.min.js"></script>    
{% endblock %}