{% extends 'base.html' %}

{% load static %}

{% block title %} Wisdom Coaching Center {% endblock %}

{% block link %}

{% endblock %}

{% block content %}
<h3 style="padding: 10px;">Admission list: 
    <a style="padding: 2px;" href="{% url 'export' %}">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-bar-down" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M1 3.5a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 0 1h-13a.5.5 0 0 1-.5-.5zM8 6a.5.5 0 0 1 .5.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 0 1 .708-.708L7.5 12.293V6.5A.5.5 0 0 1 8 6z"/>
    </svg>
    </a>
</h3>
{% if admision_list %}
    <table class="table table-responsive-sm">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">School</th>
                <th scope="col">Contact</th>
                <th scope="col">Locatio opt.</th>
                <th scope="col">Class</th>
                <th scope="col">Mail id</th>
            </tr>
        </thead>
        <tbody>
            {% for application in admision_list %}
            <tr>
                <th scope="row">{{ application.id }}</th>
                <td>{{ application.sname }}</td>
                <td>{{ application.school }}</td>
                <td>{{ application.contact }}</td>
                <td>{{ application.slocation }}</td>
                <td>{{ application.ystudy }}</td>
                <td>{{ application.mailid }}</td>  
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <i><h2 style="padding: 2% 5%; color: rgb(92, 10, 10);">" No Application Yet !! "</h2></i>
{% endif %}

{% endblock %}